/* 字体  Font: SourceHanSans*/
@font-face {
    font-family: '思源黑体 CN';
    font-weight: 300;
    src: url("otf/SourceHanSansCN-Light.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: '思源黑体 CN';
    font-weight: 400;
    src: url("otf/SourceHanSansCN-Normal.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: '思源黑体 CN';
    font-weight: 500;
    src: url("otf/SourceHanSansCN-Medium.otf") format('opentype');
    font-style: normal;
}

/* 代码块字体  Code block font: Fira Code */
@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-Regular.woff2') format('woff2'),
    url('ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}